In [1]:
value1=2
type(value1)

int

In [2]:
value2=4
value1%value2==0

False

In [3]:
value1>value2

False

In [4]:
value1%value2==0 or value2%value1==0

True

In [5]:
P=200
R=0.03
T=3
I=P*R*T
print(I)

18.0

In [6]:
C=P*(1+R)**T
print(C)

218.5454

In [7]:
Peso=67
Altura=1.77
BMI=Peso/Altura**2
print(BMI)

21.38593635289987

In [8]:
gr=(1+5**1/2)/2
print(gr)

1.75

In [9]:
import math
gr=(1+math.sqrt(5))/2
print(gr)

1.618033988749895

In [10]:
CF=[-10000,2000,3000,4000,4000,5000]
r=0.1
NPV=[]
for i in range(0,len(CF)):
    NPV2=CF[i]/(1+r)**i
    NPV.append(NPV2)
sum(NPV)

3139.4403015193916

In [11]:
name=input("Como te chamas?")
age=input("Tens que idade?")
birth=2020-int(age)
print("O %s nasceu em %s." %(name,birth))

Como te chamas? Alexandre
Tens que idade? 22

O Alexandre nasceu em 1998.

In [12]:
from datetime import date
today=date.today()
birth2=today.year-int(age)
print("O %s nasceu em %s." %(name,birth2))

O Alexandre nasceu em 1998.

In [13]:
forenames=input("Quais são os teus nomes?")
surnames=input("Quais são os teus sobrenomes?")
print("O meu nome completo é: %s %s." %(forenames,surnames))

Quais são os teus nomes? Alexandre Miguel
Quais são os teus sobrenomes? Salvador de Sousa

O meu nome completo é: Alexandre Miguel Salvador de Sousa.

In [14]:
name=forenames+" "+surnames

In [15]:
name.upper()

'ALEXANDRE MIGUEL SALVADOR DE SOUSA'

In [16]:
name.title()

'Alexandre Miguel Salvador De Sousa'

In [17]:
name.lower()

'alexandre miguel salvador de sousa'

In [18]:
name.capitalize()

'Alexandre miguel salvador de sousa'

In [19]:
name.find("de")

26